.hero {
  background: #222429;
  padding-top: 14rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-content {
      width: 34%;
    }
    span {
      color: #fff;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      display: inline-block;
    }
    h1 {
      font-size: 42px;
      line-height: 52px;
      color: white;
    }
    .btn-quote {
      display: inline-block;
      font-family: "Rajdhani";
      font-size: 18px;
      font-weight: 700;
      color: #222429;
      border: none;
      background-color: #7eb628;
      border-radius: 10px;
      padding: 12px 40px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin-right: 37px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #7eb628;
      }
    }
  }
}
